.header-container {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.4);
}

.header-top {
    width: 100%;
    display: flex;

    input {
        width: 700px;
        height: 32px;
        border-radius: 50px;
    }

    .header-top-left {
        flex: 1;
        display: flex;
        margin: 2rem 2rem;
        input {
            margin: 0 1rem;
            background-color: rgba($color: #000000, $alpha: 0.1);
            border: none;
        }

        input:hover {
            background-color: rgba($color: #000000, $alpha: 0.2);
        }
    }

    .header-top-right {
        width: 300px;
        margin: 1rem 7rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        img {
            border-radius: 100px;
        }

        span {
            font-size: 24px;
            font-weight: 800;
        }
    }
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .header-bottom-left{
        display: flex;
        margin: 1rem 3rem;

        img {
            border-radius: 100px;
        }
    }

    .header-bottom-left-text {
        margin: 0 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        span {
            margin: 5px 0;
        }

        .sub-text {
            font-size: 14px;
            font-weight: 800;
        }

        .main-text {
            font-size: 24px;
            font-weight: 800;
        }
    }

    .header-bottom-right {
        margin: 0 5rem;
        display: flex;
        justify-content: center;
        align-items: center;

        button {
            margin: 0 1rem;
            background-color: rgba($color: #3d91ff, $alpha: 1.0);
            height: 40px;
            width: 100px;
            border-radius: 50px;
            border: none;
            color: #ffffff;
            font-size: 16px;
        }

        button:hover {
            cursor: pointer;
            border: 2px solid black;
            color: #000000;
        }
    }
}

@media (max-width:1600px) {
    
    .header-top{
        .header-top-left {
            display: none;
        }
    }
}


@media (max-width:1280px) {
    .header-top {
        .header-top-left {
            display: none;
        }
        
        .header-top-right {
            width: 100%;
            margin: 1rem 0;
        }
    }
    
    .header-bottom{
        margin: 0.5rem 0;
        justify-content: center;

        .header-bottom-left {
            display: none;
        }

        .header-bottom-right {
            display: flex;
        }
    }
    
}

@media (max-width:800px) {
    .header-container {
        height: 150px;
    }
    
    .header-bottom {

        .header-bottom-left {
            display: none;
        }

        .header-bottom-right {

            button {
                margin: 0 4px;
            }
        }
    }
}

